/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: #FFD51D;
}
html,
body {
  font-family: 'Gloria Hallelujah', cursive;
  color: #ffffff;
}
h1 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #FF3333;
}
h2,
h3,
h4,
h5 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #3FA9F5;
}
h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navContainer {
  overflow: hidden;
  background-color: #3FA9F5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 770px) {
  .navContainer {
    flex-direction: column;
    height: 190px;
  }
}
.navContainer a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 8px;
  transition-duration: 0.2s;
}
.navContainer a:hover {
  background-color: #FF3333;
}
.navContainer a:active {
  background-color: #3FA9F5;
  color: #ffffff;
  border: 1px solid #FF3333;
  box-shadow: 0 5px #424F46;
  transform: translateY(4px);
}
.navContainer img {
  width: 80px;
}
@media (max-width: 770px) {
  .navContainer img {
    width: 55px;
  }
}
.headerTitle {
  font-size: 3rem;
  width: 360px;
  text-align: center;
}
.mainIMG {
  display: flex;
  justify-content: center;
  padding-top: 125px;
}
@media (max-width: 770px) {
  .mainIMG {
    padding-top: 200px;
  }
}
@media (max-width: 500px) {
  .mainIMG {
    margin: 0 2%;
  }
}
.mainIMG img {
  border-radius: 8px;
}
@media (max-width: 500px) {
  .mainIMG img {
    border-radius: 3px;
  }
}
footer {
  background-color: #D1B271;
  color: #424F46;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
footer .copyright {
  border-bottom: 2px solid #3FA9F5;
}
footer .lambda {
  width: 125px;
  padding-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
footer .lambda p {
  text-decoration: none;
}
footer .lambda img {
  width: 10px;
}
footer p {
  font-size: 0.9rem;
}
footer img {
  width: 45px;
}
.home .intro h2 {
  padding: 15px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .intro h2 {
    font-size: 2.1rem;
    text-align: left;
  }
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.home .space-images .blast {
  width: 150px;
}
.home .space-images .sky {
  width: 200px;
}
.home .space-images .launch {
  width: 225px;
}
@media (max-width: 695px) {
  .home .space-images img.blast {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images {
    justify-content: center;
  }
  .home .space-images img.sky,
  .home .space-images img.blast {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .visit-planets {
    padding: 5px;
  }
}
.home .visit-planets h3 {
  margin-top: 11px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .visit-planets h3 {
    font-size: 2.1rem;
    text-align: left;
    padding: 2%;
  }
}
.home .visit-planets p {
  margin-top: 13px;
}
@media (max-width: 500px) {
  .home .visit-planets p {
    padding: 0 2%;
  }
}
.home .walk {
  margin-top: 30px;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.home .walk h3 {
  margin-top: 11px;
}
@media (max-width: 770px) {
  .home .walk {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 770px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  text-align: center;
}
@media (max-width: 770px) {
  .home .walk .walk-text h3 {
    font-size: 2.1rem;
    text-align: center;
    padding: 2%;
  }
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
@media (max-width: 500px) {
  .home .walk .walk-text p {
    padding: 0 2%;
  }
}
.home .walk .walk-text .btn {
  background: #3FA9F5;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #70D1FE;
}
.home .walk .walk-text .btn:hover {
  background-color: #FF3333;
}
.home .walk .walk-text .btn:active {
  background-color: #3FA9F5;
  color: #ffffff;
  border: 1px solid #FF3333;
  box-shadow: 0 5px #424F46;
  transform: translateY(4px);
}
.home .walk .walk-text .btn a {
  text-decoration: none;
}
@media (max-width: 770px) {
  .home .walk .walk-text .btn {
    width: 100%;
  }
}
.home .walk .walk-img {
  width: 50%;
  padding-top: 140px;
}
@media (max-width: 770px) {
  .home .walk .walk-img {
    width: 100%;
    padding-top: 0;
  }
}
.home .walk img {
  width: 100%;
  height: auto;
}
.header {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.mainIMG2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 770px) {
  .mainIMG2 {
    display: none;
  }
}
.mainIMG2 h2 {
  padding-top: 20px;
  width: 500px;
  text-align: center;
}
.teamPics img,
.teamPics2 img,
.teamPics3 img {
  border-radius: 10px;
}
.teamPics h2,
.teamPics2 h2,
.teamPics3 h2 {
  font-size: 1.5rem;
  padding: 10px 0;
}
.teamPics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
@media (max-width: 770px) {
  .teamPics {
    padding-top: 125px;
  }
}
.teamPics div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teamPics p {
  font-size: 1rem;
  padding-top: 10px;
}
@media (max-width: 500px) {
  .teamPics p img {
    width: 80px;
  }
}
.teamPics .teamMember {
  border: 1px solid red;
}
.teamPics .teamMember p {
  border: 1px solid red;
}
.teamPics2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.teamPics2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teamPics2 p {
  font-size: 1rem;
  padding-top: 10px;
}
@media (max-width: 500px) {
  .teamPics2 p img {
    width: 80px;
  }
}
.teamPics2 .teamMember {
  border: 1px solid red;
}
.teamPics2 .teamMember p {
  border: 1px solid red;
}
.teamPics3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.teamPics3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teamPics3 p {
  font-size: 1rem;
  padding-top: 10px;
}
@media (max-width: 500px) {
  .teamPics3 p img {
    width: 80px;
  }
}
.teamPics3 .teamMember {
  border: 1px solid red;
}
.teamPics3 .teamMember p {
  border: 1px solid red;
}
@media (max-width: 770px) {
  .lisa,
  .bart,
  .maggie,
  .purpleHair,
  .drinkingHomer,
  .marge,
  .toughGuy {
    display: none;
  }
}
.lisa {
  position: absolute;
  left: 0px;
  animation-name: dance;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes dance {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translate(850px, 150px);
  }
}
@media (max-width: 770px) {
  .lisa {
    position: absolute;
    left: 0px;
    animation-name: dance;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
  }
  @keyframes dance {
    from {
      transform: translateY(1000px);
    }
    to {
      transform: translate(550px, 120px);
    }
  }
}
.bart {
  position: absolute;
  left: 0px;
  animation-name: fly;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
}
@keyframes fly {
  from {
    transform: translateY(-220px);
  }
  to {
    transform: translate(850px, 500px);
  }
}
@media (max-width: 770px) {
  .bart {
    position: absolute;
    left: 0px;
    animation-name: fly;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
    top: 30px;
  }
  @keyframes fly {
    from {
      transform: translateY(-220px);
    }
    to {
      transform: translate(670px, 520px);
    }
  }
}
.drinkingHomer {
  position: absolute;
  left: 0px;
  animation-name: drink;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes drink {
  from {
    transform: translate(1000px, -1000px);
  }
  to {
    transform: translate(250px, 600px);
  }
}
@media (max-width: 770px) {
  .drinkingHomer {
    position: absolute;
    left: 0px;
    animation-name: drink;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: both;
    top: 30px;
  }
  @keyframes drink {
    from {
      transform: translate(1000px, -1000px);
    }
    to {
      transform: translate(175px, 550px);
    }
  }
}
.purpleHair {
  position: absolute;
  left: 0px;
  animation-name: smile;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes smile {
  from {
    transform: translate(-220px);
  }
  to {
    transform: translate(600px, 650px);
  }
}
@media (max-width: 770px) {
  .purpleHair {
    position: absolute;
    left: 0px;
    animation-name: smile;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-fill-mode: both;
    top: 30px;
  }
  @keyframes smile {
    from {
      transform: translate(-220px);
    }
    to {
      transform: translate(450px, 550px);
    }
  }
}
.marge {
  position: absolute;
  left: 0px;
  animation-name: pose;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes pose {
  from {
    transform: translate(2000px, -2000px);
  }
  to {
    transform: translate(370px, 150px);
  }
}
.maggie {
  position: absolute;
  left: 0px;
  animation-name: baby;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes baby {
  from {
    transform: translate(2000px, -2000px);
  }
  to {
    transform: translate(300px, 400px);
  }
}
@media (max-width: 770px) {
  .maggie {
    position: absolute;
    left: 0px;
    animation-name: baby;
    animation-duration: 1s;
    animation-delay: 7s;
    animation-fill-mode: both;
    top: 30px;
  }
  @keyframes baby {
    from {
      transform: translate(2000px, -2000px);
    }
    to {
      transform: translate(200px, 350px);
    }
  }
}
@media (max-width: 770px) {
  .marge {
    position: absolute;
    left: 0px;
    animation-name: pose;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-fill-mode: both;
    top: 30px;
  }
  @keyframes pose {
    from {
      transform: translate(2000px, -2000px);
    }
    to {
      transform: translate(260px, 120px);
    }
  }
}
.badBart {
  position: absolute;
  left: 0px;
  animation-name: pop;
  animation-duration: 1s;
  animation-delay: 8s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes pop {
  from {
    transform: translate(2000px);
  }
  to {
    transform: translate(600px, 750px);
  }
}
@media (max-width: 770px) {
  .toughGuy {
    position: absolute;
    left: 0px;
    animation-name: pop;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-fill-mode: both;
    top: 30px;
  }
  @keyframes pop {
    from {
      transform: translate(2000px);
    }
    to {
      transform: translate(450px, 350px);
    }
  }
}
@media (max-width: 500px) {
  .teamPics,
  .teamPics2,
  .teamPics3 {
    flex-direction: column;
  }
  .size {
    width: 100%;
    padding: 20px;
  }
}
