/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: #FFD51D;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #3FA9F5;
}
h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    background-origin: center;
    background-image: linear-gradient(#3FA9F5, white);
    border-radius: 50px;
    padding: 20px;
    border-image: linear-gradient(to bottom, #3FA9F5, white);
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
.whole-nav {
  background: #3FA9F5;
  margin: 2% 2% 0 2%;
  border-radius: 5px;
  border-color: #FF3333;
}
.whole-nav .homer {
  position: absolute;
  left: 0px;
  animation-name: run;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  top: 30px;
}
@media (max-width: 500px) {
  .whole-nav .homer {
    display: none;
  }
}
@keyframes run {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(1000px);
  }
}
.whole-nav .container-nav {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whole-nav .container-nav h1 {
  font-size: 3rem;
  padding-top: 1%;
  color: #ffffff;
  text-shadow: -1px -1px 0 #FF3333, 1px -1px 0 #FF3333, -1px 1px 0 #FF3333, 1px 1px 0 #FF3333;
  animation: type 1s;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch;
  }
}
.whole-nav .container-nav .bar-nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 3% 0;
}
@media (max-width: 500px) {
  .whole-nav .container-nav .bar-nav {
    width: 80%;
  }
}
.whole-nav .container-nav .bar-nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
}
.mainIMG {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .mainIMG {
    margin: 0 2%;
  }
}
.mainIMG img {
  border-radius: 8px;
}
@media (max-width: 500px) {
  .mainIMG img {
    border-radius: 3px;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .intro h2 {
    font-size: 2.1rem;
    text-align: left;
  }
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images img.sky,
  .home .space-images img.launch {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 100%;
  }
}
.home .visit-planets {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .visit-planets {
    padding: 5px;
  }
}
.home .visit-planets h3 {
  margin-top: 11px;
}
@media (max-width: 500px) {
  .home .visit-planets h3 {
    font-size: 2.1rem;
    text-align: left;
    padding: 2%;
  }
}
.home .visit-planets p {
  margin-top: 13px;
}
@media (max-width: 500px) {
  .home .visit-planets p {
    padding: 0 2%;
  }
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 15px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .walk .walk-text h3 {
    font-size: 2.1rem;
    text-align: left;
    padding: 2%;
  }
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
@media (max-width: 500px) {
  .home .walk .walk-text p {
    padding: 0 2%;
  }
}
.home .walk .walk-text .btn {
  background: #FF3333;
  color: #ffffff;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #70D1FE;
}
.home .walk .walk-text .btn:hover {
  background: #70D1FE;
  color: #ffffff;
  border: 1px solid #FF3333;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
  }
}
.home .walk img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.teamPics {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 15px;
}
.teamPics2 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 15px;
}
.teamPics3 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 15px;
}
@media (max-width: 500px) {
  .lisa,
  .bart,
  .maggie,
  .purpleHair,
  .drinkingHomer,
  .marge,
  grandpa {
    display: none;
  }
}
.lisa {
  position: absolute;
  left: 0px;
  animation-name: dance;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes dance {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translate(850px, 150px);
  }
}
.bart {
  position: absolute;
  left: 0px;
  animation-name: fly;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes fly {
  from {
    transform: translateY(-220px);
  }
  to {
    transform: translate(850px, 550px);
  }
}
.drinkingHomer {
  position: absolute;
  left: 0px;
  animation-name: drink;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes drink {
  from {
    transform: translate(1000px, -1000px);
  }
  to {
    transform: translate(250px, 550px);
  }
}
.purpleHair {
  position: absolute;
  left: 0px;
  animation-name: smile;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes smile {
  from {
    transform: translate(-220px);
  }
  to {
    transform: translate(550px, 650px);
  }
}
.marge {
  position: absolute;
  left: 0px;
  animation-name: pose;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes pose {
  from {
    transform: translate(2000px, -2000px);
  }
  to {
    transform: translate(250px, 150px);
  }
}
.maggie {
  position: absolute;
  left: 0px;
  animation-name: baby;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes baby {
  from {
    transform: translate(2000px, -2000px);
  }
  to {
    transform: translate(450px, 250px);
  }
}
.grandpa {
  position: absolute;
  left: 0px;
  animation-name: pop;
  animation-duration: 1s;
  animation-delay: 8s;
  animation-fill-mode: both;
  top: 30px;
}
@keyframes pop {
  from {
    transform: translate(2000px);
  }
  to {
    transform: translate(720px, 300px);
  }
}
@media (max-width: 500px) {
  .teamPics,
  .teamPics2,
  .teamPics3 {
    flex-direction: column;
  }
  .size {
    width: 100%;
    padding: 20px;
  }
}
