/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: #FFD51D;
}
html,
body {
  font-family: 'Gloria Hallelujah', cursive;
  color: #ffffff;
}
h1 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #ffffff;
  text-shadow: -1px -1px 0 #FF3333, 1px -1px 0 #FF3333, -1px 1px 0 #FF3333, 1px 1px 0 #FF3333;
}
h2,
h3,
h4,
h5 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #3FA9F5;
}
h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navContainer {
  overflow: hidden;
  background-color: #3FA9F5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 770px) {
  .navContainer {
    flex-direction: column;
    height: 190px;
  }
}
.navContainer a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 8px;
  transition-duration: 0.2s;
}
.navContainer a:hover {
  background-color: #FF3333;
}
.navContainer a:active {
  background-color: #3FA9F5;
  color: #ffffff;
  border: 1px solid #FF3333;
  box-shadow: 0 5px #424F46;
  transform: translateY(4px);
}
.navContainer img {
  width: 80px;
}
@media (max-width: 770px) {
  .navContainer img {
    width: 55px;
  }
}
.headerTitle {
  font-size: 3rem;
  width: 360px;
  text-align: center;
}
.mainIMG {
  display: flex;
  justify-content: center;
  padding-top: 125px;
}
@media (max-width: 770px) {
  .mainIMG {
    padding-top: 200px;
  }
}
@media (max-width: 500px) {
  .mainIMG {
    margin: 0 2%;
  }
}
.mainIMG img {
  border-radius: 8px;
}
@media (max-width: 500px) {
  .mainIMG img {
    border-radius: 3px;
  }
}
footer {
  background-color: #D1B271;
  color: #424F46;
  border-radius: 7px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
footer .copyright {
  border-bottom: 2px solid #3FA9F5;
}
footer .lambda {
  width: 125px;
  padding-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
footer .lambda p {
  text-decoration: none;
}
footer .lambda img {
  width: 10px;
}
footer p {
  font-size: 0.9rem;
}
footer img {
  width: 45px;
}
.home .intro h2 {
  padding: 15px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .intro h2 {
    font-size: 2.1rem;
    text-align: left;
  }
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.home .space-images .blast {
  width: 150px;
}
.home .space-images .sky {
  width: 200px;
}
.home .space-images .launch {
  width: 225px;
}
@media (max-width: 695px) {
  .home .space-images img.blast {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images {
    justify-content: center;
  }
  .home .space-images img.sky,
  .home .space-images img.blast {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .visit-planets {
    padding: 5px;
  }
}
.home .visit-planets h3 {
  margin-top: 11px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .visit-planets h3 {
    font-size: 2.1rem;
    text-align: left;
    padding: 2%;
  }
}
.home .visit-planets p {
  margin-top: 13px;
}
@media (max-width: 500px) {
  .home .visit-planets p {
    padding: 0 2%;
  }
}
.home .walk {
  border: 1px solid purple;
  margin-top: 30px;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.home .walk h3 {
  border: 1px solid red;
  margin-top: 11px;
}
@media (max-width: 770px) {
  .home .walk {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.home .walk .walk-text {
  border: 1px solid red;
  width: 50%;
}
@media (max-width: 770px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  text-align: center;
}
@media (max-width: 770px) {
  .home .walk .walk-text h3 {
    font-size: 2.1rem;
    text-align: center;
    padding: 2%;
  }
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
@media (max-width: 500px) {
  .home .walk .walk-text p {
    padding: 0 2%;
  }
}
.home .walk .walk-text .btn {
  background: #3FA9F5;
  color: #ffffff;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #70D1FE;
}
.home .walk .walk-text .btn:hover {
  background: #70D1FE;
  color: #ffffff;
  border: 1px solid #FF3333;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
  }
}
.home .walk .walk-img {
  border: 1px solid red;
  width: 50%;
}
@media (max-width: 770px) {
  .home .walk .walk-img {
    width: 100%;
  }
}
.home .walk img {
  border: 1px solid red;
  width: 100%;
  height: auto;
}
