// Footer Styles
footer {
  background-color: @lightFrenchBeige;
  color:@outerSpace;
  border-radius:7px;
  display:flex;
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;

  .copyright{
    border-bottom:2px solid @margesHair;
  }
  .lambda{
    width:125px;
    padding-top:5px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;

    p{
      // font-size:.9rem;
      text-decoration: none;
    }

    img{
      width:10px;
    }
  }
  p{
    font-size:.9rem;
    // text-decoration: none;
  }
  img{
    width:45px;
  }
};