// Mixins Here

.displayFlex(@JC){
    display:flex;
    justify-content: @JC;
}

.DF(){
    display:flex;
}

.button(@bg, @color){
    background:@bg;
    color:@color;
    width:40%;
    border-radius:10px;
    text-align:center;
    font-size:17px;
    font-weight:bold;
    padding:15px;
    border: 1px solid @homersPants;

    &:hover{
        background:@homersPants;
        color:@font_color;
        border:1px solid @portlandOrange;
    }
}