
.teamPics{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 15px;
}

.teamPics2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 15px;
}

.teamPics3{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 15px;
}

@media @phone{
    .teamPics, .teamPics2, .teamPics3{
        flex-direction: column;
    }
    .size{
        width: 100%;
        padding: 20px;
    }
}
